* {
  font-family: arial, sans-serif;
}

body {
  background-color: #2B2733;
  color: #CBC9CF;
  display: grid;
  grid-template-areas:
    "header header header header header"
    "aside main main main main";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 90px 100vh;
  height: 100vh;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

header {
  background-color: #FFF;
  color: black;
  grid-area: header;
  text-align: center;
}

aside {
  background-color: black;
  grid-area: aside;
  text-align: center;
  z-index: 1;
}

div * {
  pointer-events: none;
}

div.box {
  cursor: pointer;
}

/* hover state for cards */
.box:hover .front {
  background-color: black;
  border: 3px solid #FFF;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 50px;
  height: 175px;
  text-align: center;
  width: 125px;
}

/* main page with cards layed out */
.game-page{
  position: relative;
  z-index: 1;
}

main {
  background-color: lightgrey;
  grid-area: main;
}

/* congrats page */
.win-page {
  background-image: url("assets/images/Bill-Murray-Space-Jam.jpeg");
  filter: grayscale(50%);
  grid-column: 1 / 6;
  grid-row: 2 / 3;
  opacity: 0.7;
  text-align: center;
  z-index: 10;
}

h2 {
  color: white;
  font-size: 72px;
  margin: 125px 0px 50px 0px;
}

h3 {
  color: white;
  font-size: 42px;
  font-weight: normal;
}

/* time display for congrats page */
.time-played {
  color: white;
  font-size: 50px;
}

/* buttons on congrats page */
.play-again,
.new-game {
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 24px;
  margin: 0px 40px;
  padding: 20px 40px;
}

/* congrats page button hover states */
.win-page button:hover {
  background-color: #FFF;
  color: black;
  cursor: pointer;
  font-size: 24px;
  margin: 0px 40px;
  padding: 20px 40px;
}

/* formatting for cards */
.box {
  background-color: #FFF;
  border: 3px solid black;
  color: black;
  display: inline-block;
  font-size: 50px;
  height: 175px;
  text-align: center;
  width: 125px;
}

.game-page img {
  height: 175px;
  width: 125px;
}

/* individual placeholders positioning */
.card-placeholder-0,
.card-placeholder-1,
.card-placeholder-2,
.card-placeholder-3,
.card-placeholder-4,
.card-placeholder-5,
.card-placeholder-6,
.card-placeholder-7,
.card-placeholder-8,
.card-placeholder-9 {
  position: absolute;
}

.card-placeholder-0 {
  left: 10%;
  top: 3%;
  transform: rotate(10deg);
}

.card-placeholder-1 {
  left: 33%;
  top: 7%;
  transform: rotate(-10deg);
}

.card-placeholder-2 {
  left: 55%;
  top: 5%;
  transform: rotate(-20deg)
}

.card-placeholder-3 {
  left: 85%;
  top: 8%;
  transform: rotate(15deg)
}

.card-placeholder-4 {
  left: 20%;
  top: 35%;
  transform: rotate(15deg)
}

.card-placeholder-5 {
  left: 50%;
  top: 38%;
  transform: rotate(-10deg);
}

.card-placeholder-6 {
  left: 70%;
  top: 30%;
  transform: rotate(-15deg);
}

.card-placeholder-7 {
  left: 7%;
  top: 55%;
  transform: rotate(-25deg);
}

.card-placeholder-8 {
  left: 35%;
  top: 55%;
  transform: rotate(20deg);
}

.card-placeholder-9 {
  left: 80%;
  top: 55%;
  transform: rotate(-20deg);
}

/* matches counter on side bar */
.num-of-matches{
  font-size: 80px;
  font-weight: bold;
}

aside p {
  margin: 0px;
}

.matches {
  margin-top: 30px;
}

.matched-cards {
  height: 90px;
  width: 70px;
}

/* three top times area on side bar */
.top-times{
  margin-top: 20px;
  text-align: center;
}

.top-times p {
  padding: 10px;
}

/* formatting for matched cards on side bar */
.matched-cards-area div {
  background-color: gray;
  border: 3px solid black;
  color: black;
  display: inline-block;
  font-size: 50px;
  height: 90px;
  text-align: center;
  width: 70px;
}

/* classes to add picture */
.caddyshack,
.ghostbusters,
.kingpin,
.lifeaquatic,
.rushmore {
  height: 175px;
  width: 125px;
}

/* Image sources */
.caddyshack {
  background-image: url("assets/images/Caddyshack.jpg");
}

.ghostbusters {
  background-image: url("assets/images/Ghostbusters.jpg");
}

.kingpin {
  background-image: url("assets/images/Kingpin.jpg");
}

.lifeaquatic {
  background-image: url("assets/images/LifeAquatic.jpg");
}

.rushmore {
  background-image: url("assets/images/Rushmore.jpeg");
}

/* used for classes on page transitions */
.hide {
  display: none;
}

/* flip image area */
.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  position: relative;
	transform-style: preserve-3d;
	transition: 0.6s;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	left: 0;
	position: absolute;
	top: 0;
}

/* front pane, placed above back */
.front {
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

/* page to enterp player's names */
.enter-names-page {
  background-color: lightgray;
  color: #FFF;
  display: inline-block;
  grid-column: 1 / 6;
  grid-row: 2 / 3;
  text-align: center;
  z-index: 0;
}

.enter-names-page input {
  font-size: 24px;
  height: 50px;
  width: 75%;
}

/* background for black box on enter players name page */
.black-box {
  background-color: black;
  height: 50%;
  margin: 10% 5%;
}

.enter-names-page button {
  background-color: gray;
  border-color: black;
  color: #FFF;
  display: block;
  font-size: 24px;
  height: 50px;
  margin: 5% auto;
  width: 25%;
}

/* hover state for begin game button */
.enter-names-page button:hover {
  background-color: #FFF;
  color: gray;
  cursor: pointer;
}

.enter-names-page p {
  font-size: 36px;
}

.player-one,
.player-two {
  display: inline-block;
  width: 40%;
}

.player-name-line2,
.player-name-line1 {
  font-size: 40px;
}

.player-name-line1 {
    margin-top: 15px;
}
