* {
  font-family: arial, sans-serif;
}

body {
  background-color: #2B2733;
  color: #CBC9CF;
  display: grid;
  grid-template-areas:
    "header header header header header"
    "aside main main main main";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 90px 100vh;
  height: 100vh;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

header {
  background-color: #FFF;
  color: black;
  grid-area: header;
  text-align: center;
}

aside {
  background-color: black;
  grid-area: aside;
  text-align: center;
}

div * {
  pointer-events: none;
}

div.box {
  cursor: pointer;
}

.box:hover .front {
  cursor: pointer;
  border: 3px solid #FFF;
  text-align: center;
  height: 175px;
  width: 125px;
  display: inline-block;
  color: #FFF;
  background-color: black;
  font-size: 50px;
}

.game-page{
  position: relative;
}

main {
  background-color: lightgrey;
  grid-area: main;
}

.win-page {
  background-image: url("assets/images/Bill-Murray-Space-Jam.jpeg");
  filter: grayscale(50%);
  opacity: 0.7;
  grid-column: 1 / 6;
  grid-row: 2 / 3;
  text-align: center;
}

h2 {
  font-size: 72px;
  margin: 125px 0px 50px 0px;
  color: white;
}

h3 {
  font-size: 42px;
  font-weight: normal;
  color: white;
}

.time-played {
  /* display: inline-block; */
  font-size: 50px;
  color: white;
}

.play-again,
.new-game {
  font-size: 24px;
  color: white;
  background-color: black;
  padding: 20px 40px;
  margin: 0px 40px;
  cursor: pointer;
}

/* .play-again, */
button:hover {
  font-size: 24px;
  color: black;
  background-color: #FFF;
  padding: 20px 40px;
  margin: 0px 40px;
  cursor: pointer;
}

.box {
  border: 3px solid black;
  text-align: center;
  height: 175px;
  width: 125px;
  display: inline-block;
  color: black;
  background-color: #FFF;
  font-size: 50px;
  /* padding-top: 30px;  */
}


.game-page img {
  height: 175px;
  width: 125px;
}

/* individual placeholders positioning */
.card-placeholder-0 {
  position: absolute;
  top: 3%;
  left: 10%;
  transform: rotate(10deg);
}

.card-placeholder-1 {
  position: absolute;
  top: 7%;
  left: 33%;
  transform: rotate(-10deg);
}

.card-placeholder-2 {
  position: absolute;
  top: 5%;
  left: 55%;
  transform: rotate(-20deg)
}

.card-placeholder-3 {
  position: absolute;
  top: 8%;
  left: 85%;
  transform: rotate(15deg)
}

.card-placeholder-4 {
  position: absolute;
  top: 35%;
  left: 20%;
  transform: rotate(15deg)
}

.card-placeholder-5 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: rotate(-10deg);
}

.card-placeholder-6 {
  position: absolute;
  top: 30%;
  left: 70%;
  transform: rotate(-15deg);
}

.card-placeholder-7 {
  position: absolute;
  top: 55%;
  left: 7%;
  transform: rotate(-25deg);
}

.card-placeholder-8 {
  position: absolute;
  top: 55%;
  left: 35%;
  transform: rotate(20deg);
}

.card-placeholder-9 {
  position: absolute;
  top: 55%;
  left: 80%;
  transform: rotate(-20deg);
}


.num-of-matches{
  font-size: 100px;
  font-weight: bold;
}

aside p {
  margin: 0px;
}

.matches {
  margin-top: 50px;
}

.matched-cards {
  height: 90px;
  width: 70px;
}


.top-times{
  text-align: center;
  margin-top: 40px;
}

.top-times p {
  padding: 10px;
}

.matched-cards-area div {
  border: 3px solid black;
  text-align: center;
  height: 90px;
  width: 70px;
  display: inline-block;
  color: black;
  background-color: gray;
  font-size: 50px;
  /* margin: 0% 0%; */
}

/* classes to add picture */
.caddyshack {
  background-image: url("assets/images/Caddyshack.jpg");
  height: 175px;
  width: 125px;
}

.ghostbusters {
  background-image: url("assets/images/Ghostbusters.jpg");
  height: 175px;
  width: 125px;
}

.kingpin {
  background-image: url("assets/images/Kingpin.jpg");
  height: 175px;
  width: 125px;
}

.lifeaquatic {
  background-image: url("assets/images/LifeAquatic.jpg");
  height: 175px;
  width: 125px;
}

.rushmore {
  background-image: url("assets/images/Rushmore.jpeg");
  height: 175px;
  width: 125px;
}

/* .negZ {
  z-index: -1;
}
.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
} */

.hide {
  display: none;
}

/* flip image area */
.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	/* z-index: 2; */
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
